<!-- mysite/templates/signup.html -->
<form id="signup-form" class="form" method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <h2>Sign up</h2>
    <input type="text" name="username" placeholder="Username" required id="username">
    <input type="text" name="name" placeholder="Name" required id="name">
    <input type="email" name="email" placeholder="Email" required id="email">
    <input type="password" name="password" placeholder="Password" required id="password">
    <button type="submit">Sign up</button>
    <p>Already have an account? <a href="{% url 'login' %}" id="login-link">Login</a></p>
</form>
