
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.contact-info a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
}
.contact-info a:hover {
  background-color: #333;
  color: #f7f7f7;
}
.contact-info a i {
  margin-right: 5px;
}
